* {
  font-family: "JetBrainsMono Nerd Font Propo";
  font-size: 14px;
  color: #d6d6d0;
}

window#waybar {
  background-color: #2b2f3a;
  border-radius: 8px;
  border: 2px solid #4a4d58;
}

.modules-left, .modules-right {
  padding-left: 10px;
  padding-right: 10px;
}

#workspaces button.active {
  background: rgba(194, 192, 184, 0.10);
  border-radius: 4px; 
}

#workspaces button {
  padding: 0 2px;
  margin: 2px 0;
}

tooltip {
  background: #2b2f3a;
  border: 2px solid #4a4d58;
}
